<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <head>
    <title>予約システム</title>
    <%- include("./common/stylesheets.ejs") %>
  </head>
</head>

<body>
  <div class="main-container">
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes alert">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes alert">
          <div class="flash error alert-danger"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <form name="userform" method="POST">
      <div class="form-area">
      <% if (mode === 'add') { %>
        <h1 class="main-header">ユーザー登録</h1>
        <div><input class="form-item-readonly-style" type="text" name="id" placeholder="ID" value="<%= user.id %>" readonly required></div> 
        <div><input class="form-item-style" type="text" name="name" placeholder="名前" autofocus required></div> 
        <div><input class="form-item-style" type="text" name="name_company" placeholder="会社名" required></div> 
        <div><input class="form-item-style" type="password" name="password" placeholder="パスワード" required></div> 
        <input class="btn-update" type="button" id="btn_insert" value="登録">

      <% } else { %>

        <h1 class="main-header">パスワード更新</h1>
        <div><input class="form-item-readonly-style" type="text" name="id" placeholder="ID" value="<%= user.id %>" readonly></div>
        <% if (mode === 'updpwd') { %>
          <div><input class="form-item-readonly-style" type="text" name="name" value="<%= user.name %>" readonly></div>
          <div><input class="form-item-readonly-style" type="text" name="name_company" value="<%= user.name_company %>" readonly></div>
          <div><input class="form-item-style" type="password" name="password" placeholder="パスワード" value="" autofocus required></div>  
        <% } %>
        <input class="btn-update" type="button" id="btn_update" value="更新">
        <input type="hidden" name="ymdhms_add" value="<%= user.ymdhms_add %>">
        <input type="hidden" name="ymdhms_upd" value="<%= user.ymdhms_upd %>">
        <input type="hidden" name="ymdhms_del" value="<%= user.ymdhms_del %>">
      <% } %>
      <input type="hidden" name="mode" value="<%= mode %>">
      <input type="hidden" name="key" value="<%= key %>">
      <input type="hidden" id="field_mode">
      </div>
    </form>
  </div>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", () => {
        document.userform.action = "/users/add";
        document.userform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", () => {
        document.userform.action = "/users/updpwd";
        document.userform.submit();
      })
    }
  </script>
</body>

</html>